@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

/* Custom Fonts */
@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* TODO : Use Poppins-Medium if needed */
/* TODO : Use Inter-Medium if needed */
